body {
    background-color: #288dcc;
}
h2.title {
    font-size: 110px;
    font-family: Rockwell, sans-serif;
    height: 110px;
}
.sub-text-wrapper h3{
    font-weight: normal;
}
.sub-text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    opacity: 70%;
}

