.twitter-logo {
    height: 25px;
    width: 30px;
}
div.nav, div.advertisement {
    flex: 0 1 250px;
}
.nav h1 {
    padding: 15px;
}
h1 {
    font-weight: 1;
    font-size: 25px;
    color: #0F141A;
}
.tweet-button {
    background-color: #1C9BEF;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    width: 200px;
    height: 45px;
}
.mini-profile {
    padding-top: 150px;
    column-gap: 10px;
}
.mini-profile-pic {
    height: 35px;
    width: 35px;
    border-radius: 45px;
}
.my-twitter-name {
    color: #536371;
}
.profile-pic-dots {
    padding-left: 60px;
    font-size: 24px;
}
.back-arrow {
    width: 25px;
    height: 25px;
}
section.container {
    padding-top: 10px;
}
.total-tweets {
    color: #536371;
}
.current-profile {
    padding-left: 20px;
}
.current-profile-name {
    font-size: 22px
}



