:root {
    --twitter-blue: #1C9BEF;
    --twitter-light-blue: #ebf5fe;
}
body {
    font-family: sans-serif;
    font-size: 20px;
}
.left-sidebar, .right-sidebar {
    flex: 0 1 250px
}
.left-sidebar {
    border-right: 1px solid #EFF3F4;
}
.right-sidebar {
    border-left: 1px solid #EFF3F4;
}
.logo-wrapper {
    width: 55px;
    height: 55px;
    color: var(--twitter-blue);
    padding: 12px;
    transition: all ease .3s;
    border-radius: 999px;
    cursor: pointer;
}
.logo-wrapper:hover {
    background-color: var(--twitter-light-blue);
}